@import './lib/variables';
@import './tablas';


html {
  font-size: 10px;
}

.card {
  width: 28rem;
  background-color: #151515;
  padding: 2.5rem;
  color: #ffffff;
  border-radius: .8rem;

  &_name {
    font-size: 3rem;
  }

  &_description {
    font-size: 1.6rem;

    &--red {
      color: blue;
    }
  }
}