/*-------------------------------*\
  $MIXINS
\*-------------------------------*/

section {
  @include max-didth;
  @include respond-to(800px) {
    background-color: red;
  }
  background-color: $color-lightgrey;
  padding: $padding;
}

.max-width--huge {
  @include max-didth(1200px);
  background-color: $color-lightgrey;
  padding: $padding;
}

header {
  background-color: $color-brand;
}
