/*-------------------------------*\
  $BUTTONS
\*-------------------------------*/

.btn {
  display: inline-block;
  color: $buttonColor;
  background-color: $buttonBackgroundColor;
  line-height: 2.5;
  border-radius: $border-radius;
  font-size: $buttonFontSize;

  &__icon {
    font-size: .6em;
  }

  &--info {
    background-color: $color-info;
  }
}

// BEM (Block Elem ent Modifier)
// B: .btn
// E: .btn__icon -> with double __

  